<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/main.css" />

  <script src="/js/jquery-3.6.0.js"></script>
  <script src="/js/application.js"></script>

  <title>Contacts</title>
</head>
<body>
  <% if    session[:success] %>
    <p class="flash-success"><%= session.delete(:success) %></p>
  <% elsif session[:failure] %>
    <p class="flash-failure"><%= session.delete(:failure) %></p>
  <% end %>

  <main>
    <%== yield %>
  </main>
</body>
</html>
