<h2>Login Form</h2>
<form method="post" action="/users/login">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username"
         value="<%= params[:username] || '' %>" required />

  <label for="password">Password: </label>
  <input type="password" id="password" name="password" required />

  <button class="block" type="submit">Submit</button>
</form>
